@import "./mixin/mixin.scss";

body{
    background-color: #000000eb;
}
.img{
    width: 100%;
}
.img-icons{
    width: 10%;
}
nav{
@include flexelmen (row,space-evenly,center);
gap: 30px;


}
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/fondo.jpg);
background-repeat: no-repeat;
background-size: cover;
height:100vh ;
border-bottom-right-radius: 400px;
display: flex;
flex-direction: column;
justify-content: space-between;
color: white;
}
.nav-enlaces{
@include flexelmen (row,space-evenly,center);
padding: 0px 0px 20px 60px;
gap: 40px;
width: 100%;

}
.nav-logos{
@include flexelmen (row,flex-end,center);
gap: 30px;

}
.logo-mosterhunter{
    width: 50%;
}
.nan-enlaces__directions{
    text-decoration: none;
    color: white;
    font-weight: 900;
}
.nav-button{
    padding: 20px;
}

.nav-presentation{
    display: flex;
    flex-direction: column;
    margin: 40px;
}
.nav-presentation__button{
    background-color: black;
    width: 20%;
    text-align: center;
    padding: 20px;
}

.bestiario-box{
    margin: 20px;
}
.bestirio-box__presentation{
    // width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    background-color: #2d0c0c;
    padding-left: 50px;
    width: 80%;
}
.bestiario-presentation__tittle{
    width: 10%;
    color: white;
    font-size: 50px;
    text-align: end;
    display: flex;
    align-items: center;
}
.bestiario-presentation__git{
    width: 30%;
    margin-bottom: 20px;
}
.img-git{
    width: 100%;
}
.bestiario-tipos__options{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 80PX;
}
.bestiario-listaoscura{
    color: white;
    font-size: 20PX;
    font-weight: 900;
    text-decoration: overline;
}
.bestiario-listaclara{
    color: gray;
    width: 100%;
}
.bestiario-box__mosters{
    @include flexelmen(row,flex-start,center);
    gap: 40px;
    flex-wrap: wrap;
}
.bestiario-box__letters{
    @include flexelmen(column,center,none);
    width: 20%;
    background-color: rgba(0, 0, 0, 0.197);
    color: white;
}
.bestiario-moster__options{
    list-style: none;
    padding-left: 10px;
}
.bestiario-description__letters{
    padding: 0px 0px 10px 10px;
}
.juego-box{
    @include flexelmen(column,center,center);
    width: 100%;
    color: white;
    
}
.juego-box__tittle{
    width: 80%;
    background-color: #2d0c0c;
    padding-left: 30px;
    color: white;
}
.game-letters{
    @include flexelmen(row,center,center);
    list-style:none;
    width: 90%;
    color: white;
    gap: 20px;
    margin-top: 30px;
}
.game-letters__descriptions{
width: 20%;
background-color: black;
padding: 20px;
}
.game-letters__parrafo{
    color: gray;
}
.img-games{
    max-height: 100px;
}
.game-letters__box{
    width: 20%;
    background-color: black;
    padding: 10px;
}
.weapons{
    margin-top: 40px;
    padding-top: 20px;
}
.weapons-box{
    @include flexelmen(row,center,center);
    color: white;
    gap: 20px;
    width: 80%;
    padding: 20px;
}
.weapons-box__allweapons{
    width: 40%;
    color: white;
    background-color: black;
    padding: 20px;

}
.weapons{
    @include flexelmen (column,center,center)
}